<div class="mnu-top">
  <div class="container">
    <a class="logo" href="/">
      <img class="pull-left" src="#" alt="">
    </a>
    <ul class="menu list-inline">
      <li style="cursor: pointer;">
        <a class="menu-label">START_DESIGNING
        </a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle menu-label" data-toggle="dropdown" role="button"
           aria-expanded="false"><span class="fa fa-angle-down"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-profile" role="menu">
          <li>
            <a routerLinkActive="active" routerLink="campaigns" href="javascript: void(0)">
              <i class="fa fa-server" aria-hidden="true"></i> CAMPAIGNS
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="storefronts" href="javascript: void(0)">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i> STOREFRONTS
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="promotions" href="javascript: void(0)">
              <i class="fa fa-tags" aria-hidden="true"></i> PROMOTIONS
            </a>
          </li>
          <li>
            <a href="javascript: void(0)">
              <i class="fa fa-sign-out" aria-hidden="true"></i> SIGN_OUT
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
