<div class="col-sm-4 col-md-3 sidebar">
  <div class="mini-submenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div class="list-group">
        <span href="javascript: void(0)" class="list-group-item">
            Menu
            <span class="pull-right" id="slide-submenu">
                <i class="fa fa-times"></i>
            </span>
        </span>
    <a routerLinkActive="active" routerLink="campaigns"
       href="javascript: void(0)" class="list-group-item">
      <i class="fa fa-server" aria-hidden="true"></i> Campaigns
    </a>
    <a routerLinkActive="active" routerLink="storefronts"
       href="javascript: void(0)" class="list-group-item">
      <i class="fa fa-newspaper-o" aria-hidden="true"></i> Storefronts
    </a>
    <a routerLinkActive="active" routerLink="promotions"
       href="javascript: void(0)" class="list-group-item">
      <i class="fa fa-tags" aria-hidden="true"></i> Promotions
    </a>
    <a href="javascript: void(0)" class="list-group-item">
      <i class="fa fa-paypal" aria-hidden="true"></i> Payouts <span class="badge">14</span>
    </a>
    <a href="javascript: void(0)" class="list-group-item">
      <i class="fa fa-folder" aria-hidden="true"></i> Pricing Discount <span
      class="badge">14</span>
    </a>
  </div>
</div>
