<div id="sidebar" class="sidebar-fixed sidebar responsive sidebar-scroll display" data-sidebar="true"
     data-sidebar-scroll="true" data-sidebar-hover="true">
    <div class="nav-wrap-up pos-rel">
        <ul class="nav nav-list group-left"
            style="position: relative; top: 0px; transition-property: top; transition-duration: 0.15s;">
            <li class="sidebar-left" data-id="11"><a href="/admin/report/report/index"> <i
                    class="menu-icon fa fa-bar-chart-o"></i> <span class="menu-text"> Báo cáo </span> <span
                    class="badge badge-important" style="display: none;"></span> </a></li>
            <li class="sidebar-left" data-id="3"><a href="/admin/order/list-order" class="dropdown-toggle"> <i
                    class="menu-icon  fa fa-file-text-o"></i> <span class="menu-text"> Đơn hàng </span> <span
                    class="badge badge-important">16</span> <b class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="72"><a href="/admin/order/list-order" path="Admin_Order" class=""> Danh
                        sách đơn hàng<span class="badge badge-important">16</span> </a></li>
                    <li class="" data-id="73"><a href="/admin/order/add-order" path="Admin_Order" class=""> Thêm đơn
                        hàng<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="359"><a href="/admin/handover/index" path="Admin_Handover" class=""> Biên
                        bản bàn giao<span class="badge badge-important" style="display: none;"></span> </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="4"><a href="/admin/store/sales/add-retail" class="dropdown-toggle"> <i
                    class="menu-icon ace-icon fa fa-shopping-cart"></i> <span class="menu-text"> Bán hàng </span>
                <span class="badge badge-important" style="display: none;"></span> <b
                        class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="29"><a href="/admin/store/sales/list-sale-bills" path="Store_Sales"
                                                 class=""> Danh sách hóa đơn<span class="badge badge-important"
                                                                                  style="display: none;"></span>
                    </a></li>
                    <li class="" data-id="28"><a href="/admin/store/sales/add-retail" path="Store_Sales" class="">
                        Bán lẻ<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="187"><a href="/admin/store/sales/sale-wholesale" path="Store_Sales"
                                                  class=""> Bán buôn<span class="badge badge-important"
                                                                          style="display: none;"></span> </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="1"><a href="/admin/product/list-products" class="dropdown-toggle"> <i
                    class="menu-icon ace-icon fa fa-product-hunt"></i> <span class="menu-text"> Sản phẩm </span>
                <span class="badge badge-important" style="display: none;"></span> <b
                        class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="40"><a href="/admin/product/list-products" path="Admin_Product" class="">
                        Sản phẩm<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="41"><a href="/admin/brand/index" path="Admin_Brand" class=""> Thương
                        hiệu<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="42"><a href="/admin/store/product-imei/list-imeis"
                                                 path="Store_ProductImei" class=""> IMEI<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="23"><a href="/admin/store/product-error/list-product-error"
                                                 path="Store_ProductError" class=""> Sản phẩm lỗi<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="366"><a href="/admin/system/list/index/13?p=1" path="System_List"
                                                  class=""> Nhóm thuộc tính<span class="badge badge-important"
                                                                                 style="display: none;"></span> </a>
                    </li>
                    <li class="" data-id="367"><a href="/admin/system/list/index/14?p=1" path="System_List"
                                                  class=""> Thuộc tính<span class="badge badge-important"
                                                                            style="display: none;"></span> </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="13"><a href="/admin/store/bill/list-bills" class="dropdown-toggle"> <i
                    class="menu-icon  ace-icon fa fa-cubes"></i> <span class="menu-text"> Xuất nhập kho </span>
                <span class="badge badge-important" style="display: none;"></span> <b
                        class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="285"><a href="/admin/store/bill/list-bills" path="Store_Bill" class="">
                        Phiếu xuất nhập kho<span class="badge badge-important" style="display: none;"></span> </a>
                    </li>
                    <li class="" data-id="286"><a href="/admin/store/bill/list-product" path="Store_Bill" class="">
                        Sản phẩm xuất nhập kho<span class="badge badge-important" style="display: none;"></span>
                    </a></li>
                    <li class="" data-id="22"><a href="#" path="Store_" class="dropdown-toggle"> Thêm phiếu<span
                            class="badge badge-important" style="display: none;"></span><b
                            class="arrow fa glyphicon glyphicon-plus"></b> </a>
                        <ul class="submenu">
                            <li class="" data-id="287"><a href="/admin/store/bill/add-supplier" path="Store_Bill"
                                                          class=""> Nhập nhà cung cấp<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="288"><a href="/admin/store/bill/return-supplier" path="Store_Bill"
                                                          class=""> Trả nhà cung cấp<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="289"><a href="/admin/store/bill/add-transfer" path="Store_Bill"
                                                          class=""> Chuyển kho<span class="badge badge-important"
                                                                                    style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="242"><a href="/admin/store/bill/bill-another" path="Store_Bill"
                                                          class=""> Xuất nhập khác<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="291"><a href="#" class="dropdown-toggle"> <i
                    class="menu-icon fa fa-info-circle"></i> <span class="menu-text"> Yêu cầu xuất nhập </span>
                <span class="badge badge-important">13</span> <b class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="292"><a href="/admin/store/req-bill/list-bill" path="Store_ReqBill"
                                                  class=""> Phiếu yêu cầu<span
                            class="badge badge-important">13</span> </a></li>
                    <li class="" data-id="293"><a href="/admin/store/req-bill/list-product" path="Store_ReqBill"
                                                  class=""> Sản phẩm yêu cầu<span class="badge badge-important"
                                                                                  style="display: none;"></span>
                    </a></li>
                    <li class="" data-id="303"><a href="#" path="Store_" class="dropdown-toggle"> Thêm yêu cầu<span
                            class="badge badge-important" style="display: none;"></span><b
                            class="arrow fa glyphicon glyphicon-plus"></b> </a>
                        <ul class="submenu">
                            <li class="" data-id="294"><a href="/admin/store/req-bill/add-supplier"
                                                          path="Store_ReqBill" class=""> Nhà cung cấp<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="295"><a href="/admin/store/req-bill/add-transfer"
                                                          path="Store_ReqBill" class=""> Chuyển kho<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="296"><a href="/admin/store/req-bill/addwholesale"
                                                          path="Store_ReqBill" class=""> Bán buôn<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="2"><a href="/admin/store/bill/list-bills" class="dropdown-toggle"> <i
                    class="menu-icon fa fa-check-square-o"></i> <span class="menu-text"> Kiểm kho </span> <span
                    class="badge badge-important" style="display: none;"></span> <b
                    class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="27"><a href="/admin/store/check-store/session-store"
                                                 path="Store_CheckStore" class=""> Phiếu kiểm kho<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="26"><a href="/admin/store/check-store/list-product-check"
                                                 path="Store_CheckStore" class=""> Sản phẩm kiểm kho<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="5"><a href="/admin/store/promotions/list-promotions"
                                                    class="dropdown-toggle"> <i
                    class="menu-icon ace-icon fa fa-gift"></i> <span class="menu-text"> Khuyến mãi </span> <span
                    class="badge badge-important" style="display: none;"></span> <b
                    class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="360"><a href="/admin/store/promotion-coupon/list-coupon-codes"
                                                  path="Store_PromotionCoupon" class=""> Mã coupon<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="266"><a href="/admin/store/promotion-coupon/list-promotion-coupons"
                                                  path="Store_PromotionCoupon" class=""> Chương trình coupon<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="273"><a href="/admin/store/promotions/list-promotions"
                                                  path="Store_Promotions" class=""> Chương trình khuyến mãi<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="300"><a href="/admin/store/history-del/list-bill-history-del"
                                                      class="dropdown-toggle"> <i
                    class="menu-icon ace-icon fa fa-trash-o"></i> <span class="menu-text"> Lịch sử xóa </span> <span
                    class="badge badge-important" style="display: none;"></span> <b
                    class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="301"><a href="/admin/store/history-del/list-bill-history-del"
                                                  path="Store_HistoryDel" class=""> Phiếu đã xóa<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="302"><a href="/admin/store/history-del/list-history-del"
                                                  path="Store_HistoryDel" class=""> Sản phẩm đã xóa<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="305"><a href="/admin/news/list-news" class="dropdown-toggle"> <i
                    class="menu-icon menu-icon fa fa-globe"></i> <span class="menu-text"> Bài viết </span> <span
                    class="badge badge-important" style="display: none;"></span> <b
                    class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="308"><a href="/admin/news/list-news" path="Admin_News" class=""> Tin
                        tức<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="317"><a href="/admin/introduce/list-introduces" path="Admin_Introduce"
                                                  class=""> Giới thiệu<span class="badge badge-important"
                                                                            style="display: none;"></span> </a></li>
                    <li class="" data-id="314"><a href="/admin/recruitment/list-recruitment"
                                                  path="Admin_Recruitment" class=""> Tuyển dụng<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="212"><a href="/admin/supports/list-support" path="Admin_Supports"
                                                  class=""> Hỗ trợ trực tuyến<span class="badge badge-important"
                                                                                   style="display: none;"></span>
                    </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="306"><a href="/admin/media/list-images" class="dropdown-toggle"> <i
                    class="menu-icon ace-icon glyphicon glyphicon-film"></i> <span class="menu-text"> Media </span>
                <span class="badge badge-important" style="display: none;"></span> <b
                        class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="329"><a href="/admin/media/list-images" path="Admin_Media" class=""> Thư
                        viện ảnh<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="335"><a href="/admin/media/list-video" path="Admin_Media" class=""> Thư
                        viện video<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="320"><a href="/admin/media/list-file" path="Admin_Media" class=""> Thư
                        viện file<span class="badge badge-important" style="display: none;"></span> </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="10"><a href="/admin/member/list-member" class="dropdown-toggle"> <i
                    class="menu-icon ace-icon fa fa-user-circle-o"></i> <span class="menu-text"> Khách hàng </span>
                <span class="badge badge-important" style="display: none;"></span> <b
                        class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="18"><a href="/admin/member/list-member" path="Admin_MemberAdmin" class="">
                        Khách hàng<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="77"><a href="/admin/partner/list-partner" path="Admin_Partner" class="">
                        Đối tác<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="400"><a href="/admin/comment/list-comments" path="Admin_Comment" class="">
                        Bình luận<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="999"><a href="/admin/comment/list-comments" path="Admin_Comment" class="">
                        Bình luận<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="78"><a href="/admin/contact/list-contact" path="Admin_Contact" class="">
                        Liên hệ<span class="badge badge-important" style="display: none;"></span> </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="30"><a href="/admin/category/list-categories?type=products"
                                                     class="dropdown-toggle"> <i
                    class="menu-icon  ace-icon fa fa-list"></i> <span class="menu-text"> Danh mục </span> <span
                    class="badge badge-important" style="display: none;"></span> <b
                    class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="" data-id="39"><a href="/admin/category/list-categories?type=products"
                                                 path="Admin_Category" class=""> Sản phẩm<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="311"><a href="/admin/category/list-categories?type=news"
                                                  path="Admin_Category" class=""> Tin tức<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="326"><a href="/admin/category/list-categories?type=gallery"
                                                  path="Admin_Category" class=""> Thư viện ảnh<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="332"><a href="/admin/category/list-categories?type=video"
                                                  path="Admin_Category" class=""> Thư viện video<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="323"><a href="/admin/category/list-categories?type=file"
                                                  path="Admin_Category" class=""> Thư viện file<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="239"><a href="/admin/category/list-categories?type=introduce"
                                                  path="Admin_Category" class=""> Giới thiệu<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="" data-id="355"><a href="/admin/category/list-categories?type=recruitments"
                                                  path="Admin_Category" class=""> Tuyển dụng<span
                            class="badge badge-important" style="display: none;"></span> </a></li>
                </ul>
            </li>
            <li class="sidebar-left" data-id="8"><a href="/admin/setting/info-pages" class="dropdown-toggle"> <i
                    class="menu-icon fa fa-cogs"></i> <span class="menu-text"> Cài đặt </span> <span
                    class="badge badge-important" style="display: none;"></span> <b
                    class="arrow fa fa-angle-down"></b> </a>
                <ul class="submenu">
                    <li class="hover" data-id="44"><a href="#" path="Admin_" class="dropdown-toggle"> Cài đặt
                        chung<span class="badge badge-important" style="display: none;"></span><b
                                class="arrow fa glyphicon glyphicon-plus"></b> </a>
                        <ul class="submenu">
                            <li class="" data-id="60"><a href="/admin/setting/info-pages" path="Admin_Setting"
                                                         class=""> Thông tin website<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="45"><a href="/admin/language/list-languages" path="Admin_Language"
                                                         class=""> Ngôn ngữ<span class="badge badge-important"
                                                                                 style="display: none;"></span> </a>
                            </li>
                            <li class="" data-id="243"><a href="/admin/setting/config-payment" path="Admin_Setting"
                                                          class=""> Cổng thanh toán<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="47"><a href="/admin/country/list-countries" path="Admin_City"
                                                         class=""> Tỉnh thành<span class="badge badge-important"
                                                                                   style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="235"><a href="/admin/setting/config-email" path="Admin_Setting"
                                                          class=""> Email<span class="badge badge-important"
                                                                               style="display: none;"></span> </a>
                            </li>
                            <li class="" data-id="362"><a href="/admin/shipping/index" path="Admin_Shipping"
                                                          class=""> Cài đặt vận chuyển<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="46"><a href="/admin/money/list-money" path="Admin_Money" class="">
                                Tỉ giá tiền tệ<span class="badge badge-important" style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="363"><a href="/admin/store/form-print/design-form-print"
                                                          path="Store_FormPrint" class=""> Mẫu in<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="361"><a href="/admin/setting/config" path="Admin_Setting"
                                                          class=""> Sản phẩm<span class="badge badge-important"
                                                                                  style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="364"><a href="/admin/setting/config-member" path="Admin_Setting"
                                                          class=""> Khách hàng<span class="badge badge-important"
                                                                                    style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="1003"><a href="/admin/setting/config-store" path="Admin_Setting"
                                                           class=""> Xuất nhập kho<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="1004"><a href="/admin/setting/config-order" path="Admin_Setting"
                                                           class=""> Đơn hàng<span class="badge badge-important"
                                                                                   style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="1005"><a href="/admin/setting/config-channel" path="Admin_Setting"
                                                           class=""> Kênh bán hàng<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                        </ul>
                    </li>
                    <li class="hover" data-id="307"><a href="/admin/template/list-template" path="Admin_Template"
                                                       class=""> Giao diện<span class="badge badge-important"
                                                                                style="display: none;"></span><b
                            class="arrow fa glyphicon glyphicon-plus"></b> </a>
                        <ul class="submenu">
                            <li class="" data-id="338"><a href="/admin/template/list-template" path="Admin_Template"
                                                          class=""> Cài đặt giao diện<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="365"><a href="/admin/blocks/index" path="Admin_Blocks" class="">
                                Chỉnh sửa giao diện<span class="badge badge-important"
                                                         style="display: none;"></span> </a></li>
                            <li class="" data-id="344"><a href="/admin/template/list-block" path="Admin_Template"
                                                          class=""> Quản lý module<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="345"><a href="/admin/template/index" path="Admin_Template"
                                                          class=""> Kho giao diện<span class="badge badge-important"
                                                                                       style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="339"><a href="/admin/menu/list-menu" path="Admin_Menu" class="">
                                Quản lý menu<span class="badge badge-important" style="display: none;"></span> </a>
                            </li>
                            <li class="" data-id="348"><a href="/admin/template/css-other" path="Admin_Template"
                                                          class=""> Css tùy chỉnh<span class="badge badge-important"
                                                                                       style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="347"><a href="/admin/template/javascript" path="Admin_Template"
                                                          class=""> Javascript tùy chỉnh<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                        </ul>
                    </li>
                    <li class="hover" data-id="17"><a href="/admin/user/list-users" path="Admin_Users" class="">
                        Nhân viên<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="hover" data-id="15"><a href="/admin/role/list-role" path="Admin_Role" class=""> Phân
                        quyền<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="hover" data-id="25"><a href="/admin/shop/list-shop" path="Admin_Shop" class=""> Cửa
                        hàng<span class="badge badge-important" style="display: none;"></span> </a></li>
                    <li class="hover" data-id="280"><a href="#" path="System_" class="dropdown-toggle"> Hệ
                        thống<span class="badge badge-important" style="display: none;"></span><b
                                class="arrow fa glyphicon glyphicon-plus"></b> </a>
                        <ul class="submenu">
                            <li class="" data-id="281"><a href="/admin/system/listtype/index" path="System_Listtype"
                                                          class=""> Loại danh mục<span class="badge badge-important"
                                                                                       style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="282"><a href="/admin/system/list/index" path="System_List"
                                                          class=""> Đối tượng danh mục<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="24"><a href="/admin/role/index" path="Admin_Role" class=""> Danh
                                sách chức năng<span class="badge badge-important" style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="356"><a href="/admin/plugin/list" path="Admin_Plugins" class="">
                                Tiện ích<span class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="146"><a href="/admin/setting/list-attribute" path="Admin_Setting"
                                                          class=""> Attribute<span class="badge badge-important"
                                                                                   style="display: none;"></span>
                            </a></li>
                            <li class="" data-id="185"><a href="/admin/setting/updated" path="Admin_Setting"
                                                          class=""> Cập nhập hệ thống<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="357"><a href="/admin/backup/list-backup" path="Admin_Backup"
                                                          class=""> Lịch sử sao lưu dữ liệu<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="358"><a href="/admin/backup/backup-database" path="Admin_Backup"
                                                          class=""> Sao lưu dữ liệu<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="140"><a href="/admin/setting/convert-link" path="Admin_Setting"
                                                          class=""> Convert link hệ thống<span
                                    class="badge badge-important" style="display: none;"></span> </a></li>
                            <li class="" data-id="215"><a href="/admin/setting/clear-cache" path="Admin_" class="">
                                Xóa cache<span class="badge badge-important" style="display: none;"></span> </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidebar-toggle sidebar-collapse" style="z-index: 1;"><i
            class="ace-icon miniature-menu fa fa-angle-double-left " data-icon1="ace-icon fa fa-angle-double-left"
            data-icon2="ace-icon fa fa-angle-double-right"></i></div>
</div>