<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-public-breadcrumb></app-public-breadcrumb>
            <div class="panel panel-default page-header">
                <div class="panel-body">
                    <form novalidate (ngSubmit)="getLazProduct()" #form="ngForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-input-lg">
                                    <input title=""
                                           [(ngModel)]="channelService.search.title"
                                           placeholder="Tìm theo Tên, Mã, Mã vạch sản phẩm" name="code"
                                           tooltip="Tìm theo Tên, Mã, Mã vạch sản phẩm" placement="top"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-input-lg">
                                    <a id="btn-search" class="btn btn-primary btn-md" (click)="getLazProduct()"><i
                                            class="ace-icon fa fa-search"></i></a>
                                    <a id="btn-refresh-filter" class="btn btn-success btn-md" (click)="resetForm()"> <i
                                            class="fa fa-refresh bigger-120" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row list-toolbar">
                <div class="col-md-6">
                    <button type="button" (click)="prodDownload()" class="btn btn-primary btn-md">
                        <i class="fa fa-download" aria-hidden="true"></i> Lấy sản phẩm từ lazada
                    </button>

                    <button type="button" (click)="prodUpload()" class="btn btn-primary btn-md">
                        <i class="fa fa-upload" aria-hidden="true"></i> Đồng bộ sang lazada
                    </button>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tên</th>
                    <th>SKU</th>
                    <th>Giá gốc</th>
                    <th>Giá bán lẻ</th>
                    <th>Có sẵn</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>john@example.com</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td>mary@example.com</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                    <td>july@example.com</td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <select [(ngModel)]="channelService.search.page_size" name="page_size" title="Page size"
                            (change)="pageSizeChange()"
                            appBootstrapSelect
                            class="selectpicker" [arroption]="arrPageSize"></select>
                </div>
                <div class="col-md-6 col-xs-6">
                    <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"
                                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                                (pageChanged)="pageChanged($event)"
                                class="pagination-sm pull-right"
                                [boundaryLinks]="true"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>