<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-public-breadcrumb></app-public-breadcrumb>
            <div class="panel panel-default page-header">
                <div class="panel-body">
                    Detail
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-default" (click)="back()">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
</div>